{% comment %}

Cart Item:
The Cart Item template.

IF CHANGES ARE MADE TO THIS PAGE, PLEASE NAVIGATE TO THE PICK APP AND RESAVE
SETTINGS PAGE SO THAT LOGIC INJECTS INTO UPDATED CART TEMPLATE

@author Peter Laxalt and Alisha
@since 3/2020
@stylesheet cart.scss

{% endcomment %}


{% assign product = item.product %}
{% include 'pickup-only-product' %}

<div class="cart-item {% if item.product_id == pickUpProductID %} hide-item {% endif %}">
  <div class="cart-item-inner">

    <a href="{{ item.url | within: collections.all }}" class="cart-item-col cover">
      <div class="cart-item-img">
        <img data-src="{{ item | img_url: 'medium' }}" class="lazy" alt="{{ item.title | escape }}" />
      </div>
    </a>



    <div class="cart-item-col title">
      {% if item.product.tags contains 'Shop Online' %}
        {% if pickUpOnlyProduct == true %}
          <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
        {% endif %}
      {% else %}
        {% if settings.enable-purchasing == true %}
          {% if pickUpOnlyProduct == true %}
            <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
          {% endif %}
        {% else %}
          <div class="notification-tag p txt-clr-primary">In-store Item</div>
        {% endif %}
      {% endif %}
      <a href="{{ item.url | within: collections.all }}"><span>
        {{ item.product.title }}
        {% unless item.variant.title contains 'Default' %}
          - {{ item.variant.title }}
        {% endunless %}
      </span></a>
      <p>
        {{ item.product.description | strip_html | truncate: 75, "..." }}
      </p>
      {% assign remove-link = "/cart/change?line=" | append: forloop.index | append: "&quantity=0" %}
      <a data-item="{{ forloop.index }}" class="remove-item btn">Remove Item</a>
    </div>

    <div class="cart-item-col quantity-and-price">
      <div class="cart-item-col quantity">
        <span class="input-number-decrement">–</span><input type="text" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0"><span class="input-number-increment">+</span>
      </div>
      
      <div class="cart-item-col price">
        <span>
          {{ item.line_price | money }}
        </span>
      </div>
    </div>


  </div>
</div>
