{% comment %}

Cart Item:
The Cart Item template.

@author Peter Laxalt and Alisha
@since 3/2020
@stylesheet cart.scss

{% endcomment %}

<div class="cart-item">
  <div class="cart-item-inner">

    <a href="{{ item.url | within: collections.all }}" class="cart-item-col cover">
      <div class="cart-item-img">
        <img data-src="{{ item | img_url: 'medium' }}" class="lazy" alt="{{ item.title | escape }}" />
      </div>
    </a>

    <div class="cart-item-col title">
      <a href="{{ item.url | within: collections.all }}"><span>
        {{ item.product.title }}
        {% unless item.variant.title contains 'Default' %}
          - {{ item.variant.title }}
        {% endunless %}
      </span></a>
      <p>
        {{ item.product.description | strip_html | truncate: 75, "..." }}
      </p>
      <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn remove-item" rel="{{ item.id }}">Remove Item</a>
    </div>

    <div class="cart-item-col quantity">
      <span class="input-number-decrement">–</span><input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0"><span class="input-number-increment">+</span>
    </div>

    <div class="cart-item-col price">
      <span>
        {{ item.line_price | money }}
      </span>
    </div>

    <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn remove-item mobile-remove-item" rel="{{ item.id }}">Remove Item</a>


  </div>
</div>
