{% comment %}

Cart Item:
The Cart Item template.

@author Peter Laxalt and Alisha
@since 3/2020

{% endcomment %}

<div class="cart-item">
  <div class="cart-item-inner">

    <a href="{{ item.url | within: collections.all }}" class="cart-item-col cover">
      <div class="cart-item-img">
        <img data-src="{{ item | img_url: 'medium' }}" class="lazy" alt="{{ item.title | escape }}" />
      </div>
    </a>

    <a href="{{ item.url | within: collections.all }}" class="cart-item-col title">
      <span href="{{ item.url | within: collections.all }}">
        {{ item.product.title }}
        {% unless item.variant.title contains 'Default' %}
          - {{ item.variant.title }}
        {% endunless %}
      </span>
      <p>
        {{ item.product.description | strip_html | truncate: 75, "..." }}
      </p>
    </a>

    <div class="cart-item-col quantity">
      <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
    </div>

    <div class="cart-item-col price">
      <span>
        {{ item.line_price | money }}
      </span>
    </div>


  </div>
</div>

{% comment %}
<tr>
  <td>
    <a href="{{ item.url | within: collections.all }}">
      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
    </a>
  </td>
  <td>
    <a href="{{ item.url }}">{{ item.product.title }}</a>
    {{ item.variant.title }}
    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
  </td>
  <td>{{ item.price | money }}</td>
  <td>
    <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
  </td>
  <td>
    {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
    {{ item.line_price | money }}
    {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
  </td>
</tr>
{% endcomment %}