{% comment %}

Collection Listings Slider:
A slider section containing products used as an include or by a snippet

@author Peter Laxalt and Alisha
@since 2/2020
@stylesheet collection-listings-slider.scss

@params
{{ title }}: Collection Title
{{ link }}: Collection Link
{{ products }}: Collection Products

{% endcomment %}

<section class="collection-listings-slider">
  <div class="collection-listings-slider-inner">
    <div class="slider-header">
      <h3>
        {{ title }}
      </h3>
    </div>
    <div class="collection-listings-slider-el collection-listings-slider-1" itemscope
      itemtype="http://schema.org/ItemList">

      <a href="{{ link }}" class="view-all-card">
        <div class="view-all-card-inner">
          <span>
            View All
          </span>
        </div>
      </a>

      {% for product in products limit: 10 %}

        {% assign cover = product.featured_image | img_url: 'large' %}
        {% assign price = product.price | money %}

        {% include 'product-card' 
          title: product.title,
          cover: cover,
          price: price,
          slug: product.url
        %}

      {% endfor %}

    </div>
  </div>
</section>