{% comment %}

Website Footer

@author Peter Laxalt
@since 2/2020

{% endcomment %}

{% assign phoneNumber =  settings.site-phone-number %}
{% assign emailAddress = settings.site-email %}
{% assign facebook = settings.social-fb %}
{% assign instagram = settings.social-insta %}
{% assign twitter = settings.social-twitter %}
{% assign location1Label = settings.location-1-label %}
{% assign location1Addy = settings.location-1-addy %}
{% assign location1Maps = settings.location-1-maps %}
{% assign location2Label = settings.location-2-label %}
{% assign location2Addy = settings.location-2-addy %}
{% assign location2Maps = settings.location-2-maps %}
{% assign location3Label = settings.location-3-label %}
{% assign location3Addy = settings.location-3-addy %}
{% assign location3Maps = settings.location-3-maps %}

</div>
</main>
<footer>
  <div class="footer-inner">
    <div class="footer-col">
      <div class="copyright">
        &copy; {{ 'now' | date: "%Y" }} Reno Bike Project
      </div>
      <div class="legal-stuff">
        {% for link in linklists.legal-menu.links %}
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        {% endfor %}
      </div>
      <div class="social">
        <ul>
          {% if twitter != '') %}
          <li>
            <a href="{{ twitter }}" title="Find us on Twitter" target="_blank">
              <span class="ico">T</span>
            </a>
          </li>
          {% endif %}

          {% if instagram != '') %}
          <li>
            <a href="{{ instagram }}" title="Find us on Instagram" target="_blank">
              <span class="ico">I</span>
            </a>
          </li>
          {% endif %}

          {% if facebook != '') %}
          <li>
            <a href="{{ facebook }}" title="Find us on Facebook" target="_blank">
              <span class="ico">F</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-header">
        Contact Us
      </div>
      <div class="footer-info-row">
        <a href="tel:{{ phoneNumber }}" target="_blank">{{ phoneNumber }}</a>
      </div>
      <div class="footer-info-row">
        <a href="mailto:{{ emailAddress }}" target="_blank">{{ emailAddress }}</a>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-header">
        Find Us
      </div>
      {% if location1Addy != '' and location1Label != '' %}
        <div class="footer-info-row">
          <span>{{ location1Label }}:</span>
          <a href="{{ location1Maps }}" title="{{ location1Label }}" target="_blank">{{ location1Addy }}</a>
        </div>
      {% endif %}
      {% if location2Addy != '' and location2Label != '' %}
        <div class="footer-info-row">
          <span>{{ location2Label }}:</span>
          <a href="{{ location2Maps }}" title="{{ location2Label }}" target="_blank">{{ location2Addy }}</a>
        </div>
      {% endif %}
      {% if location3Addy != '' and location3Label != '' %}
        <div class="footer-info-row">
          <span>{{ location3Label }}:</span>
          <a href="{{ location3Maps }}" title="{{ location3Label }}" target="_blank">{{ location3Addy }}</a>
        </div>
      {% endif %}

    </div>
    <div class="footer-col">
      <div class="footer-search">
        {% include 'svg-icon-search' %}
        <form>
          <input placeholder="Search">
        </form>
      </div>
    </div>
  </div>
</footer>

{% include 'newsletter-overlay' %}
{% include 'search-overlay' %}

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.5.1/dist/lazyload.min.js"></script>
<!-- <script src="https://unpkg.com/@barba/core"></script> -->

{{ 'app.min.js' | asset_url | script_tag }}
{{ 'vendor.min.js' | asset_url | script_tag }}