{% comment %}

Fullwidth Hero:
A fullwidth hero component.

@author Peter Laxalt
@since 2/2020
@stylesheet fullwidth-hero.scss

@params
{{ headline }}: Headline
{{ cover }}: Cover image

{% endcomment %}

<section class="fullwidth-hero">
  <div class="fullwidth-hero-inner">
    <h1>{{ headline }}</h1>
    
    {% if cover %}
      <img data-src="{{ cover }}" alt="{{ headline }}" class="lazy" />
    {% endif %}
  </div>
</section>