{% comment %}

Navigation
Site Navigation

@author Peter Laxalt
@since 2/2020
@stylesheet navigation.scss

{% endcomment %}

{% inlcude 'item-count' %}

<header>

  {% comment %}
  /** Inter-site Navigation */
  {% endcomment %}
  <div class="nav-inner nav-shop">
    <div class="nav-col nav-col-1">
      <div class="nav-branding nav-shop">
        <a href="{{ settings.marketing-site-url }}">
          <img src="{{ settings.site-logo | img_url: 'small' }}" alt="{{ shop.name }}">
        </a>
      </div>
      <nav class="nav-switch">
        <ul>
          <li class="inactive">
            <a href="{{ settings.marketing-site-url }}">
              Community
            </a>
          </li>
          <li class="active nav-shop">
            <a href="/">
              Shop
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {% comment %}
    /** /Inter-site Navigation */
    {% endcomment %}

    {% comment %}
    /** Main Navigation */
    {% endcomment %}
    <div class="nav-col nav-col-2">
      <nav class="main-nav">
        <div>
          <ul>
            {% for link in linklists.main-navigation.links %}
            <li>
              <a href="{{link.url}}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
    {% comment %}
    /** /Main Navigation */
    {% endcomment %}

    {% comment %}
    /** CTA Navigation */
    {% endcomment %}
    <div class="nav-col nav-col-3 nav-shop">
      <div class="nav-search">
        <button class="search-toggle">
          {% include 'svg-icon-search' className: 'search-toggle' %}
        </button>
      </div>
      <div class="nav-cta items-added">
        <a href="/cart">
          <span>Cart</span>
          {% include 'shopping-cart' %}
          <span class="count">{{ itemCount }}</span>
        </a>
      </div>
    </div>
    {% comment %}
    /** /CTA Navigation */
    {% endcomment %}

    {% comment %}
    /** Nav Overlay Toggle */
    {% endcomment %}
    <div class="nav-col nav-col-4">
      <div class="grid black-grid nav-overlay-toggle" id="mobile-nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {% comment %}
    /** /Nav Overlay Toggle */
    {% endcomment %}

  </div>
</header>

{% include 'overlay-nav' %}