{% comment %}

Overlay Nav Navigation
Overlay Site Navigation

@author Alisha Garric
@since 3/2020
@stylesheet overlay-nav.scss

{% endcomment %}



<div class="overlay-nav-container dark-theme" id="overlay-nav">
    <div class="left">
        <div class="top">
            <a href="/" class="branding">
               <img src="{{ settings.site-logo-dark | img_url: 'small' }}" alt="{{ shop.name }}">
            </a>
            <div class="exit nav-overlay-toggle" id="overlay-exit"></div>
        </div>
        <nav class="overlay-nav">
            <div>
                <ul class="menu">
                    {% for link in linklists.main-navigation.links %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1{{ forloop.index }} {% if link.links != blank %} menu-item-has-children {% endif %}">
                            <a class="nav-overlay-toggle" href="{{link.url}}">{{ link.title }}</a>
                            {% if link.links != blank %}
                                <input id="toggle-{{forloop.index}}" type="checkbox" name="toggle"/>
                                <label for="toggle-{{forloop.index}}"></label>
                                <ul class="sub-menu">
                                {% for sub-link in link.links %}
                                    <li class="menu-item menu-item-type-post_type menu-item-object-program menu-item-2{{ forloop.index }}">
                                        <a class="nav-overlay-toggle" href="{{ sub-link.url }}">{{ sub-link.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="overlay-nav-cta">
            <a href="/cart">
                <span>Cart</span>
            </a>
        </div>
    </div>
    <div class="right"></div>
</div>