{% comment %}

Product Card:
The product card component.

@author Peter Laxalt
@since 3/2020
@stylesheet product-card.scss

@params
{{ title }}: Title
{{ price }}: Button url
{{ slug }}: Product url
{{ cover }}: Product image
{{ handle }}: Product handle

/*************************************/

{% endcomment %}

{% include 'pickup-only-product' %}

<a href="{{ slug }}" class="product-card" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
  <div class="product-card-inner">
    <div class="product-cover">
      <img data-src="{{ cover }}" class="lazy" alt="{{ title }}" itemprop="image" />
    </div>
    <div class="product-details">
      {% if pickUpOnlyProduct == true %}
        <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
      {% endif %}
      <div class="title">
        <span itemprop="name">
          {{ title }}
        </span>
      </div>
      <div class="price">
        {% if all_products[handle].available == true %}
          <span itemprop="itemListElement" itemtype="http://schema.org/Product">{{ all_products[handle].price | money }}</span></br>
          {% if all_products[handle].compare_at_price > all_products[handle].price %}
            <span class="txt-clr-gunmetal">
              <strike>{{ all_products[handle].compare_at_price | money }}</strike>
            </span>
          {% endif %}
        {% else %}
          <span class="txt-clr-gunmetal">Sold Out</span>
        {% endif %}
      </div>
    </div>
  </div>
</a>