{% comment %}

Product:
The product page component.

@author Peter Laxalt and Alisha Garric
@since 3/2020
@stylesheet product.scss

{% endcomment %}

{% comment %}
  Get first variant, or deep linked one
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% include 'pickup-only-product' %}

{% comment %} Get metafeild variables {% endcomment %}
{% assign details = product.metafields.custom_fields['details'] %}
{% assign shipping = product.metafields.custom_fields['shipping_description'] %}
{% assign pickUpInstructions = product.metafields.custom_fields['pick_up_instructions'] %}

{% comment %}
Begin product page component
{% endcomment %}

<section class="product padding-top-none" itemscope itemtype="http://schema.org/Product">
  <div class="product-inner">
    <div class="col image-col {% if product.images.size == 1 %} no-mobile-scroller {% endif %}">
      {% if product.images.size > 0 %}
        <div class="featured-images">
          {% for image in product.images %}
            <div class="img-wrapper">
              <img itemprop="image" data-src="{{ image | img_url: '1000x' }}" alt="{{ image.alt | escape }}" class="lazy" />
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if details or pickUpInstructions or shipping %}
        <div class="specifics-outer"> 
          {% if details %}
            {% include 'accordion-row' id:1, headline: 'Details', content: details %}
          {% endif %}
          {% if pickUpInstructions %}
            {% include 'accordion-row' id:2, headline: 'Pick Up Instructions', content: pickUpInstructions %}
          {% endif %}
          {% if shipping %}
            {% include 'accordion-row' id:3, headline: 'Shipping', content: shipping %}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="col details">
      <div class="details-top">

        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          {% if pickUpOnlyProduct == true %}
            <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
          {% endif %}

          <div class="title-and-price">
            <div class="title">
              <h1 itemprop="name">
                {{ product.title }} 
              </h1>
            </div>
            <div class="price">
              {% comment %}<span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>{% endcomment %}
              <span itemprop="priceCurrency" content="USD">$</span>
              <span itemprop="price" content="1000.00" id="ProductPrice" content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money | remove: '$' }}
              </span>

              {% if product.compare_at_price_max > product.price %}
                {% comment %}<span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>{% endcomment %}
                <span class="compare-price" id="ComparePrice">
                  <strike>
                    {{ current_variant.compare_at_price | money }}
                  </strike>
                </span>
              {% endif %}

            </div>
            </span>
          </div>

          <div class="quantity-and-purchase">
            {% if product.available %}
              <div class="quantity">
                <span class="input-number-decrement">-</span><input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector"><span class="input-number-increment">+</span>
              </div>
            {% endif %}
            <div class="purchase">
              {% if product.available %}
                <button type="submit" name="add" id="AddToCart" class="btn btn-clr-black btn-arrow">Add to basket</button>
              {% else %}
                <button class="btn btn-clr-black sold-out-btn">Sold Out</button>
              {% endif %}
            </div>
          </div>

          {% assign variantSize = product.variants | size %}
          
          <div class="variant-selector select-container {% if variantSize > 1 and product.available %}{% else %}visually-hidden{% endif %}">
            <select name="id" id="productSelect" class="selecter">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - Sold Out
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          
        </form>
      {% comment %}
        End form
      {% endcomment %}

      <div class="description" itemprop="description">
        <p>
          {{ product.description }}
        </p>
      </div>

    </div>

    
    {% if details or pickUpInstructions or shipping %}
      <div class="specifics-outer mobile-visible"> 
        {% if details %}
          {% include 'accordion-row' id:4, headline: 'Details', content: details %}
        {% endif %}
        {% if pickUpInstructions %}
          {% include 'accordion-row' id:5, headline: 'Pick Up Instructions', content: pickUpInstructions %}
        {% endif %}
        {% if shipping %}
          {% include 'accordion-row' id:6, headline: 'Shipping', content: shipping %}
        {% endif %}
      </div>
    {% endif %}

    <div class="details-bottom">
      <span>
        Keep Browsing
      </span>
      <ul>
        {% for link in linklists.main-navigation.links | limit: 4 %}
          <li>
            {{ link.title | link_to: link.url }}
          </li>
        {% endfor %}
        <li>
          <a href="/collections/">
            All Products
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>