{% comment %}

Product Card:
The product card component.

@author Peter Laxalt
@since 3/2020
@stylesheet product-card.scss

@params
{{ title }}: Title
{{ slug }}: Product url
{{ cover }}: Product image
{{ compare-price }}: Product compare at price
{{ price }} : Product price
{{ available }} : Product availability

/*************************************/

{% endcomment %}

{% include 'pickup-only-product' %}

<a href="{{ slug }}" class="product-card" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
  <div class="product-card-inner">
    <div class="product-cover">
      <img data-src="{{ cover }}" class="lazy" alt="{{ title }}" itemprop="image" />
    </div>
    <div class="product-details">
      {% if product.tags contains 'Shop Online' %}
        {% if pickUpOnlyProduct == true %}
          <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
        {% endif %}
      {% else %}
        {% if settings.enable-purchasing == true %}
          {% if pickUpOnlyProduct == true %}
            <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
          {% endif %}
        {% else %}
          <div class="notification-tag p txt-clr-primary">In-store Item</div>
        {% endif %}
      {% endif %}
      <div class="title">
        <span itemprop="name">
          {{ title }}
        </span>
      </div>
      <div class="price">
        {% if available == true %}
          <span itemprop="itemListElement" itemtype="http://schema.org/Product">{{ price | money }}</span></br>
          {% if compare-price > price %}
            <span class="txt-clr-gunmetal">
              <strike>{{ compare-price | money }}</strike>
            </span>
          {% endif %}
        {% else %}
          <span class="txt-clr-gunmetal">Sold Out</span>
        {% endif %}
      </div>
    </div>
  </div>
</a>