{% comment %}

Cart Page:
The cart template.

@author Peter Laxalt
@since 3/2020

@todo
Link into Shopify data.

// For later
{% if cart.item_count > 0 %}{% endif %}
{% if cart.item_count <= 0 %}empty{% endif %}

{% endcomment %}

<section class="cart">
  <section class="cart-inner">

    {% if cart.item_count %}
    <form action="/cart" method="post" novalidate>

      <div class="col cart-items">

        <h1>Your Cart</h1>

        {% include 'cart-item' %}
        {% include 'cart-item' %}
        {% include 'cart-item' %}
        {% include 'cart-item' %}
        {% include 'cart-item' %}

        <div class="cart-meta">
          <div class="cart-meta-col">
            <textarea name="note" class="cart-instructions" id="CartSpecialInstructions"
              placeholder="Leave a note"></textarea>
          </div>
          <div class="cart-meta-col">
            <button type="submit" class="btn" name="update">Update Cart</button>
          </div>
        </div>
      </div>

      <div class="col subtotal">
        <span class="total">
          $250.00
        </span>
        <span class="label">
          Subtotal
        </span>
        <button type="submit" class="btn btn-arrow btn-clr-black" name="checkout">Checkout</button>
        <a href="/" class="btn btn-clr-snow btn-arrow">Keep Shopping</a>
        <span class="disclaimer">
          Shipping & taxes calculated at checkout for delivery items.
        </span>
      </div>

    </form>

    {% else %}

    <h1>
      Your cart is empty.
    </h1>
    <p>
      But it's never been so ready to be full of joy.
    </p>
    <a href="/" class="btn btn-clr-black btn-arrow">Keep shopping</a>
    {% endif %}

  </section>
</section>


{% include 'collection-listings-slider' 
  collectionTitle: 'Keep shopping', 
  slug: '/collections/parts-and-components' 
%}

{% section 'block-row' %}

{% comment %}
<h1>Your Cart</h1>
<form action="/cart" method="post" novalidate>
  <table>
    <thead>
      <th colspan="2">Prod</th>
      <th>Price</th>
      <th>Qty</th>
      <th>total</th>
    </thead>
    <tbody>
      {% for item in cart.items %}
      <tr>
        <td>
          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
          </a>
        </td>
        <td>
          <a href="{{ item.url }}">{{ item.product.title }}</a>
          {{ item.variant.title }}
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
        </td>
        <td>{{ item.price | money }}</td>
        <td>
          <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
        </td>
        <td>
          {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
          {{ item.line_price | money }}
          {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <p>sub total : {{ cart.total_price | money }}</p>
    <button type="submit" name="update">Update</button>
    <button type="submit" name="checkout">Checkout</button>
  </div>
</form>
{% endcomment %}