{% comment %}

Search Template:
The search listings template.

@author Peter Laxalt
@since 3/2020

Link into Shopify data.

{% endcomment %}

<section class="search-results">
  {% paginate search.results by 10 %}

    {% if search.performed and search.results_count > 0 %}
    {% comment %} Search results exist {% endcomment %}

      <div class='search-results-header'>
        {% include 'squiggle-horizontal' size: 'large' %}
        <h1>{{ search.results_count }} results for </h1>
        <h1 class='query'>{{ search.terms }}</h1>
        <div class="search-results-input">
          {% include 'svg-icon-search' %}
          <form action="/search" method="get" role="search">
            <input type="search" name="q" placeholder="Search">
          </form>
        </div>
      </div>

      <div class="search-results-listings">
        <ul>
          {% for item in search.results %}
            <li>
              <a href="{{ item.url | within: collection }}" class="news-listing-card" title="{{ item.title | escape }}">
                <div class="news-listing-card-inner">
                  
                  {% if item.featured_image %}
                    <div class="cover">
                      <img data-src="{{ item.featured_image.src | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="lazy" />
                    </div>
                  {% endif %}

                  <div class="info">
                    {% assign product = item %}
                    {% include 'pickup-only-product' %}
                    {% if item.product.tags contains 'Shop Online' %}
                      {% if pickUpOnlyProduct == true %}
                        <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
                      {% endif %}
                    {% else %}
                      {% if settings.enable-purchasing == true %}
                        {% if pickUpOnlyProduct == true %}
                          <div class="notification-tag p txt-clr-primary">Pick Up Only</div>
                        {% endif %}
                      {% else %}
                        <div class="notification-tag p txt-clr-primary">In-store Item</div>
                      {% endif %}
                    {% endif %}
                    <span class="title">{{ item.title }}</span>
                    <p class="excerpt">{{ item.content | strip_html | truncatewords: 50 }}</p>
                  </div>

                  <div class="actions">
                    {% if item.price %}
                      <div class="col">
                          {% if item.available == true %}
                            {{ item.price | money }}
                            {% if item.compare_at_price > item.price %}<strike>{{ item.compare_at_price | money }}</strike>{% endif %}
                          {% else %}
                            Sold Out
                          {% endif %}
                      </div>
                    {% endif %}

                    <div class="col">
                      <span class="btn btn-arrow">
                        More
                      </span>
                    </div>
                  </div>

                </div>
              </a>
            </li>
          {% endfor %}

          {% if paginate.pages > 1 %}
            <li class="pagination">
              <nav>
                <div class="nav-links">
                  {% comment %} All these replacements so structure/classes match wp verision of pagination {% endcomment %}
                  {{ paginate 
                    | default_pagination 
                    | replace: "deco", "deco page-numbers dots" 
                    | replace: "next", "next page-numbers" 
                    | replace: "prev", "prev page-numbers" 
                    | replace: "href", "class='barba-prevent' href"
                  }}
                </div>
              </nav>
            </li>
          {% endif %}
  
        </ul>
      </div>

      <!--<div class='search-other-site-header'>
        {% include 'squiggle-horizontal' size: 'large' %}
        <div class="h3">Not what you're looking for?</div>
        <div class="h3">Search <span class="txt-clr-primary">{{ search.terms }}</span> on our marketing site instead.</div>
        <a class="btn btn-clr-black btn-arrow" href="{{ settings.marketing-site-url }}/s?{{ search.terms }}">Search {{ search.terms }}</a>
      </div>-->

    {% else %}
    {% comment %} Search results do not exist {% endcomment %}

      <div class='search-results-header'>
        {% include 'squiggle-horizontal' size: 'large' %}
        <h1>No results for <span class="query">{{ search.terms }}</span> :(</h1>
        <h1>Try something else.</h1>
        <div class="search-results-input">
          {% include 'svg-icon-search' %}
          <form action="/search" method="get" role="search">
            <input type="search" name="q" placeholder="Search">
          </form>
        </div>
      </div>

   
      {% assign featuredCollection = collections | first %}
      {% include 'collection-listings-slider' title: "Keep Shopping", link: "/collections/", products: featuredCollection.products %}

    {% endif %}

  {% endpaginate %}
</section>
