{% comment %}

Search Template:
The search listings template.

@author Peter Laxalt
@since 3/2020

@todo
Link into Shopify data.

{% endcomment %}

<section class="search-results">
  {% paginate search.results by 10 %}

    {% if search.performed %}

      <div class='search-results-header'>
        {% include 'squiggle-horizontal' size: 'large' %}
        <h1>{{ search.results_count }} results for </h1>
        <h1 class='query'>{{ search.terms }}</h1>
        <div class="search-results-input">
          {% include 'svg-icon-search' %}
          <form action="/search" method="get" role="search">
            <input type="search" name="q" placeholder="Search">
          </form>
        </div>
      </div>

      <div class="search-results-listings">
        <ul>
          {% for item in search.results %}
            <li>
              {% if item.featured_image %}
                <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                  {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                </a>
              {% endif %}
              <h5>{{ item.title | link_to: item.url }}</h5>
              <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>

    {% else %}
        no results
    {% endif %}

    {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
  {% endpaginate %}
</section>
